@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-saraya-blue to-[#005fb8];
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased bg-slate-50 text-slate-800;
}
